		<div id="footer">
			<a href="#">Home</a> | <a href="#">Videos</a> | <a href="#">Videos</a> | <a href="#">Videos</a> | <a href="#">Videos</a> | <a href="#">Contact</a><br />
			Copyright © <a href="#"><strong>Name</strong></a>    
		</div>
	</body>
</html>