<html>
	<head>
		<title><%= siteTitle %> - <%= pageTitle %></title>
		<% include ../partials/head %>
		<script>
            window.onload = function() {
                var index = 0;
                changeSlide();

                function changeSlide() {
                    var i;
                    var x = document.getElementsByClassName("slides");
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";  
                    }
                    index++;
                    if (index > x.length) {
                        index = 1            
                    }    
                    x[index-1].style.display = "block";  
                    setTimeout(changeSlide, 2000); // Change image every 2 seconds
                }
            }
        </script>
	</head>
	<body>

		<div id="main_wrapper">
			<div id="top_header">
    			<div id="title">
					<img class="logo" src="/images/MyMovieListLogo.png" alt="logo" /> <span id = "sitetitle"> to Watch</span><span id ="sitetitle2"> and Enjoy</span>
        		</div>


        		<div id="search">
        			<form method="post" action="/movieSearch/">
                		<label>Search:</label><input name="keyword" type="search" id="keyword"/>
                		<input class="button_input" type="submit" name="Search" value="Search" />
            		</form>
        		</div>

        	</div>

        	<% include ../partials/navbar %>
        	<div id="content">
  				<div>
    				<img class="slides" src="/images/slide.jpg" alt="slide1" />
    				<img class="slides" src="/images/slide2.jpg" alt="slide2" />
  				</div>
