<div id="LatestMovie">
  <div id="LatestMovie_section">
    <h1>Latest Movies</h1>
    <div class="LatestMovie_box">
      <img src="images/1.jpg" alt="image" />
      <div class="movieTitle">Movie .. 1</div> 
      <div class="moreInfo"><a href="#">More</a></div> 
    </div>
    <div class="LatestMovie_box">
      <img src="images/2.jpg" alt="image" />
      <div class="movieTitle">Movie .. 2</div>  
      <div class="moreInfo"><a href="#">More</a></div>
    </div>
    <div class="LatestMovie_box">
      <img src="images/3.jpg" alt="image" />
      <div class="movieTitle">Movie .. 3</div>  
      <div class="moreInfo"><a href="#">More</a></div>
    </div>
    <div class="LatestMovie_box">
      <img src="images/4.jpg" alt="image" />
      <div class="movieTitle">Movie .. 4</div>  
      <div class="moreInfo"><a href="#">More</a></div>
    </div>
    <div class="LatestMovie_box">
      <img src="images/5.jpg" alt="image" />
      <div class="movieTitle">Movie .. 5</div>  
      <div class="moreInfo"><a href="#">More</a></div>
    </div>
    <div class="LatestMovie_box">
      <img src="images/6.jpg" alt="image" />
      <div class="movieTitle">Movie .. 6</div> 
      <div class="moreInfo"><a href="#">More</a></div>
    </div>
  </div>
</div>