<div id="LatestMovie">
  <div id="LatestMovie_section">
    <h1>Latest Movies</h1>

    <% for(var i = 0; i < 6; i++){ %>
      <div class="LatestMovie_box">
        <img src="<%= 'https://image.tmdb.org/t/p/w185_and_h278_bestv2/'+ latestMovies[i].poster_path %>"
          alt= "<%= latestMovies[i].title %>" width = 125px; height = 175px;/>
        <div class="movieTitle"><%= latestMovies[i].title %></div> 
        <div class="moreInfo"><a href="/selectedMovie/:<%= latestMovies[i].id %>">More</a></div>
      </div>
    <% } %>
  </div>
</div>