<img src="/images/banner.jpg" alt="banner" class="bannerIMG" />

<div id="navigation">
	<ul>
		<li><a class="navigation_border" href="/">Home</a></li>
		<li>
			<div class="dropdown" >
				<a class= "navigation_border">Login</a>
				<div class="dropdown-content">
                	<a href="#">Sign In</a>
                 	<a href="/register">Create Account</a>
              	</div>
            </div> 
        </li>
        <li><a class= "navigation_border"> Account</a></li>
           <li>
		    <div class="dropdown" >
                <a  class= "navigation_border">Movies </a>
                <div class="dropdown-content">
					<a href="#">All</a>
                 	<a href="/movieSearch/year">Year</a>
                 	<a href="/movieSearch/genre">Genre</a>
				 	<a href="/movieSearch/rating">Rating</a> 
              	</div>
            </div>  
        </li>  
        <li><a href="subpage.html" class="lastnav" >Contact</a></li>
    </ul>
</div>