<div id="popular_section">
  <h1 class= "styleHeader">Popular movies </h1>
  <div class="popular_box">
    <img src="images/sample.jpg" alt="image" />
    <h3>Title 1</h3> 
    <p>Maecenas vulputate, arcu id fermentum eleifend, tortor enim tincidunt mauris, fringilla tincidunt purus urna vel risus. <a href="#">more...</a></p>
  </div>
  <div class="popular_box">
    <img src="images/sample.jpg" alt="image" />
    <h3>Title 2</h3> 
    <p> Fusce vulputate tellus ac felis. Praesent mauris. Quisque gravida faucibus ligula. Aliquam magna. Phasellus id felis. <a href="#">more...</a></p>
  </div>
  <div class="popular_box">
    <img src="images/sample.jpg" alt="image" />
    <h3>Title 3</h3> 
    <p> Fusce vulputate tellus ac felis. Praesent mauris. Quisque gravida faucibus ligula. Aliquam magna. Phasellus id felis. <a href="#">more...</a></p>
  </div>
  <div class="popular_box">
    <img src="images/sample.jpg" alt="image" />
    <h3>Title 3</h3> 
    <p> Fusce vulputate tellus ac felis. Praesent mauris. Quisque gravida faucibus ligula. Aliquam magna. Phasellus id felis. <a href="#">more...</a></p>
  </div>
  <div class="moreInfo2">
    <a href="#">View All</a>
  </div>
</div> 