<% include ../partials/header %>


<div class="" style="margin-left:50px;margin-right:50px">
    <div class="col s12">
        
        <p>Log in to see your movies </p>

        <form action="/account" method="post"class = "col s12">
          <div class="form-group row">
              <label for="username" class="col-2 col-form-label">Username</label>
              <div class="col-10">
                <input type="text" id="username" name="username">
              </div>
          </div>
          <div class="form-group row">
              <label for="password" class="col-2 col-form-label">Password</label>
              <div class="col-10">
                <input type="password" id="password" name="password">
              </div>
          </div>
          <div class="form-group row">
              <label for="" class="col-2 col-form-label" style="color:#ffffff">Log in</label>
              <div class="col-10">
                <input type="submit" class="btn btn-primary btn-lg">
              </div>
          </div>
        </form>

        <p>Don't have an account? <a href="/register"> Click here to register! </a> </p>

        <p> [DEBUG] <a href="/movieList"> Click here to see the entire movie list! </a> </p>
    </div>
</div>


<% include ../partials/footer %>